.temperatures-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
    background-color: lightgray;
}

.temperatures-title {
    color: darkblue;
}

.temperatures-display {
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
}

.temperatures-variables {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}
