#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .text {
    padding: 5px;
    background-color: lightblue;
    border-radius: 0.5rem;
    font-size: x-large;
    margin-bottom: 5px;
  }
  .main-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 800px;
    background-image: url(./public/download.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }
  .sub-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }
  .ct-container {
    padding: 5px;
  }
  .add-container {
    padding: 5px;
    margin-top: 5px;
  }
  .temp-container {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 5px;
  }